{% extends '@Taxe/layout.html.twig' %}

{% block title %}New Nomenclature{% endblock %}

{% block body %}
    <h3>Create new Nomenclature</h3>

    {{ include('@Taxe/nomenclature/_form.html.twig') }}

    <a href="{{ path('nomenclature_index') }}">Retour</a>
{% endblock %}
