<a href="{{ path('taxe_edit', { 'id': taxe.id }) }}" role="button"
   class="btn btn-primary"><i class="far fa-edit"></i> Editer</a>

<a href="{{ path('exercice_new', { 'id': taxe.id }) }}" role="button"
   class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter un exercice</a>

<a href="{{ path('taxe_index') }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
   Retour à la liste
</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer
</button>
<br/>
<br/>