<li class="nav-item">
    <a class="nav-link" href="{{ path('taxe_new') }}"><i class="fas fa-plus"></i> Ajouter une taxe</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('nomenclature_index') }}">Nomenclatures <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('taxe_index') }}">Taxes</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('taxe_user') }}">Utilisateurs</a>
</li>

