<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Taxes{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/taxe/favicon.ico') }}"/>
    {% block stylesheets %}{% endblock %}

    <link href="{{ asset('bundles/taxe/css/app.css') }}" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

</head>
<body>
{% set action = app.request.attributes.get("_route") %}
{% include '@Taxe/_header.html.twig' %}

<main role="main" {% block main_class %}class="container pt-3"{% endblock %}>

    {% include '@Taxe/_flash_messages.html.twig' %}

    {% block notifications %}

    {% endblock %}

    {% block body %}

    {% endblock %}
</main>

{% block footer %}
    <footer class="mb-5 d-print-none">

    </footer>
{% endblock %}
{% block scripts %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
