{% extends '@Taxe/layout.html.twig' %}

{% block title %}New Exercice{% endblock %}

{% block body %}

    <h3>Nouvelle exercice pour {{ taxe }}</h3>

    {{ include('@Taxe/exercice/_form.html.twig') }}

{% endblock %}
